*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 1240px) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 900px) {
    html {
      font-size: 50%; } }
  @media (max-width: 600px) {
    html {
      font-size: 30%; } }
  @media (min-width: 1800px) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Lato';
  font-weight: 400;
  color: #777777;
  font-size: 1.6rem;
  letter-spacing: .2rem;
  padding: 50px;
  background-color: #ffffff; }

container {
  position: relative;
  z-index: 0; }

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translate(-10rem); }
  80% {
    transform: translate(2rem); }
  100% {
    opacity: 1;
    transform: translate(0rem); } }

@keyframes RightToLeft {
  0% {
    opacity: 0;
    transform: translate(10rem); }
  80% {
    transform: translate(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0rem); } }

@keyframes BtnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0rem); } }

.row {
  max-width: 114rem;
  margin: 0 auto;
  margin-bottom: 8rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  @media (max-width: 900px) {
    .row {
      width: 100%;
      flex-direction: column; } }

.col-1-of-2 {
  width: calc(( 100% - 8rem ) / 2);
  float: left; }
  .col-1-of-2:not(:last-child) {
    margin-bottom: 8rem; }

.title-third {
  font-size: 2rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-weight: 700; }

.paragraph {
  margin-top: 1rem; }

.margin-bottom-80px {
  margin-top: 8rem; }

.margin-bottom-30px {
  margin-bottom: 3rem; }

.margin-bottom-10px {
  margin-bottom: 1rem; }

.composition {
  position: relative; }
  .composition__photo {
    width: 30%;
    border-radius: .5rem;
    position: absolute;
    transition: .5s;
    outline-offset: 1rem; }
    .composition__photo_n1 {
      top: -2rem;
      left: 10rem; }
    .composition__photo_n2 {
      top: 2rem;
      left: 0rem; }
    .composition__photo_n3 {
      top: 10rem;
      left: 4rem; }
    .composition__photo:hover {
      outline: 0.3rem solid #f822ed;
      transform: scale(1.1);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

[class^="col-"] {
  float: left; }
  [class^="col-"]:not(:last-child) {
    margin-right: 1rem; }
  @media (max-width: 1240px) {
    [class^="col-"]:not(:last-child) {
      margin-right: 2rem; } }
  @media (max-width: 1240px) {
    [class^="col-"] {
      width: 100% !important; } }

.section-about {
  padding: 8rem; }

.title-secondary {
  text-align: center;
  font-size: 5rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.5), #a3f85e80);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .4s;
  font-size: 3rem; }
  .title-secondary:hover {
    transform: skewY(2deg) skewX(10deg) scale(1.1);
    text-shadow: 0rem 1rem 1rem rgba(15, 150, 50, 0.5); }
  .title-secondary_white {
    color: white; }

.section-tour {
  padding: 20rem;
  margin-bottom: 8rem; }

.section-feedBack {
  padding-top: 8rem 0rem;
  position: relative; }

.feedBack-card {
  width: 85%;
  background: #f8fdcdbf;
  margin: 0 auto;
  padding: 6rem;
  transform: skewX(330deg); }
  .feedBack-card > * {
    transform: skewX(-330deg); }
  .feedBack-card__img {
    width: 15rem;
    height: 15rem;
    background: black;
    float: left;
    border-radius: 100rem;
    shape-outside: circle(50% at 50% 50%);
    margin-right: 4rem;
    overflow: hidden; }
    .feedBack-card__img img {
      height: 110%;
      transform: scale(1.2);
      transition: all .5s; }
  .feedBack-card__name {
    position: absolute;
    font-size: 2rem;
    text-align: center;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    opacity: 0;
    transition: all .5s; }
  .feedBack-card:hover .feedBack-card__name {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .feedBack-card:hover img {
    transform: scale(1);
    filter: blur(3px) brightness(70%); }

.bg-video {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover; }

.video-gradient {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: green;
  opacity: .5; }

.section-book {
  padding: 10rem;
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.5), #a3f85e80); }

.book {
  height: 50rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 3rem;
  font-weight: 400;
  color: black;
  padding: 2rem 0 2rem 2rem;
  background: white;
  border: none;
  border-bottom: .5rem solid transparent;
  border-radius: .5rem;
  width: 30%; }
  .form__input:focus {
    outline: none;
    border-bottom: .3rem solid green; }
  .form__input:focus:invalid {
    border-bottom: .3rem solid red; }

.form__label {
  font-size: 4rem;
  color: white;
  display: block;
  margin-top: 1rem;
  margin-left: 2rem;
  transition: .3s all; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-1rem); }

.form__group-radio {
  width: 45%;
  display: inline; }

.form__input-radio {
  display: none; }

.form__label-radio {
  cursor: pointer;
  position: relative; }

.form__button-radio {
  height: 5rem;
  width: 3rem;
  border-radius: 50%;
  border: .5rem solid yellow;
  display: block;
  position: absolute;
  left: 0;
  top: -2rem;
  padding-left: 4rem; }
  .form__button-radio::after {
    content: '';
    display: block;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .2s; }

.form__input-radio:checked ~ .form__label-radio .form__button-radio::after {
  opacity: 1; }

.footer {
  padding: 8rem;
  background: #4d614d; }
  .footer__logo {
    width: 10rem; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 5rem; }
  .footer__link:link, .footer__link:visited {
    color: grey;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    display: inline-block; }
  .footer__link:hover {
    transform: rotate(3deg) scale(1.2);
    transition: all .5s; }

.navigation__toggle {
  display: none; }

.navigation__button {
  background: white;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  right: 7rem;
  top: 7rem;
  z-index: 200;
  text-align: center;
  cursor: pointer; }

.navigation__background {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background: radial-gradient(blue, green);
  position: fixed;
  right: 5rem;
  top: 5rem;
  z-index: 100;
  transition: all .4s; }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 150;
  opacity: 0;
  width: 0;
  transition: all .4s ease-out; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none; }

.navigation__item {
  text-align: center;
  list-style-type: none;
  margin-top: 5rem; }
  .navigation__item:not(:last-child) {
    margin-bottom: 8rem; }

.navigation__link:link, .navigation__link:visited {
  font-size: 4rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
  list-style-type: none;
  text-transform: uppercase;
  background: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  padding: 1rem 2rem;
  transition: all .4s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: blue; }

.navigation__toggle:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__toggle:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1; }

.navigation__icon {
  position: relative;
  margin-top: 3.7rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: .2rem;
    background: black;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .3s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -.1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__toggle:checked + .navigation__button .navigation__icon {
  background: transparent; }

.navigation__toggle:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__toggle:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.card-tour {
  height: 50rem;
  width: 30rem;
  transition: 1s all;
  perspective: 500rem;
  position: relative;
  border-radius: .5rem; }
  .card-tour__side {
    height: 50rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    transition: 1s all ease-out;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden; }
    .card-tour__side_front {
      background: #6B8F83;
      padding: 2rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); }
    .card-tour__side_back {
      background: green;
      transform: rotateY(180deg);
      background: linear-gradient(120deg, rgba(2, 0, 36, 0.5) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(0, 212, 255, 0.8) 100%); }
  .card-tour:hover .card-tour__side_front {
    transform: rotateY(-180deg); }
  .card-tour:hover .card-tour__side_back {
    transform: rotateY(0deg); }
  .card-tour__span {
    font-size: 3rem;
    letter-spacing: .5rem;
    text-align: right;
    padding: 1rem 2rem .3rem; }
  .card-tour__img {
    background-blend-mode: screen;
    height: 20rem;
    background: #6B8F83 url("../img/01.JPG") center/cover no-repeat; }
  .card-tour__descr ul {
    padding: 5rem;
    text-align: center; }
  .card-tour__backSide-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 8rem; }
  .card-tour__text {
    margin-bottom: 8rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: black; }
    .card-tour__text_1 {
      font-size: 2rem;
      font-weight: 300; }
    .card-tour__text_2 {
      font-size: 4rem;
      font-weight: 300; }

.row {
  display: flex;
  justify-content: space-around; }

.header {
  position: relative;
  height: 95vh;
  width: 95vw;
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.5) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(0, 212, 255, 0.8) 100%), url(../img/1.jpg) center/cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%); }
  .header__logo {
    height: 4rem;
    position: absolute;
    left: 30px;
    top: 3rem;
    cursor: pointer; }
  .header__box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
      text-align-font-size: 62.5%; }
    @media (max-width: 1240px) {
      .header__box {
        top: 40%; } }

.title-first {
  color: #ffffff; }
  .title-first__main {
    display: block;
    font-weight: 800;
    font-size: 5rem;
    line-height: 6rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    animation: leftToRight 2s;
    animation-delay: 0.5s;
    animation-timing-function: ease;
    backface-visibility: hidden;
    animation-fill-mode: backwards; }
  .title-first__second {
    display: block;
    font-weight: 200;
    font-size: 5rem;
    line-height: 6rem;
    letter-spacing: 1rem;
    animation: RightToLeft 2s;
    animation-delay: 0.5s;
    animation-timing-function: ease;
    backface-visibility: hidden;
    margin-bottom: 6.5rem;
    animation-fill-mode: backwards; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #754C24;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  background: white;
  border-radius: 5rem;
  transition: all .3s;
  position: relative;
  font-size: 2rem; }

.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5); }
  .btn:hover::after {
    opacity: 0;
    transform: scaleX(1.5);
    transform: scaleY(1.7); }

.btn:active {
  transform: translateY(-2px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); }

.btn::after {
  content: "";
  background: white;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .5s; }

.btn_animated {
  animation: BtnToUp .5s ease-out .7s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  letter-spacing: .2rem;
  font-size: 2rem;
  padding: 1rem;
  display: inline-block;
  color: #754C24;
  transition: all .5s; }

.btn-text:hover {
  background-color: #754C24;
  color: #ffffff; }
  .btn-text:hover::after {
    opacity: 0;
    transform: scaleX(1.5);
    transform: scaleY(1.7); }

.btn-text:active {
  transform: translateY(2px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); }
