*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: 'Lato';
  font-weight: 400;
  color: #777777;
  font-size: 1.6rem;
  letter-spacing: .2rem;
  padding: 50px;
  background-color: #ffffff; }

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translate(-10rem); }
  80% {
    transform: translate(2rem); }
  100% {
    opacity: 1;
    transform: translate(0rem); } }

@keyframes RightToLeft {
  0% {
    opacity: 0;
    transform: translate(10rem); }
  80% {
    transform: translate(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0rem); } }

@keyframes BtnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0rem); } }

.row {
  max-width: 114rem;
  margin: 0 auto;
  margin-bottom: 8rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }

.col-1-of-2 {
  width: calc(( 100% - 8rem ) / 2);
  float: left; }
  .col-1-of-2:not(:last-child) {
    margin-bottom: 8rem; }

.title-third {
  font-size: 2rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-weight: 700; }

.paragraph {
  margin-top: 1rem; }

.margin-bottom-80px {
  margin-top: 8rem; }

.margin-bottom-30px {
  margin-bottom: 3rem; }

.margin-bottom-10px {
  margin-bottom: 1rem; }

.composition {
  position: relative; }
  .composition__photo {
    width: 30%;
    border-radius: .5rem;
    position: absolute;
    transition: .5s;
    outline-offset: 1rem; }
    .composition__photo_n1 {
      top: -2rem;
      left: 10rem; }
    .composition__photo_n2 {
      top: 2rem;
      left: 0rem; }
    .composition__photo_n3 {
      top: 10rem;
      left: 4rem; }
    .composition__photo:hover {
      outline: 0.3rem solid #f822ed;
      transform: scale(1.1);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.section-about {
  padding: 8rem; }

.title-secondary {
  text-align: center;
  font-size: 5rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.5), #a3f85e80);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .4s; }
  .title-secondary:hover {
    transform: skewY(2deg) skewX(10deg) scale(1.1);
    text-shadow: 0rem 1rem 1rem rgba(15, 150, 50, 0.5); }

.section-tour {
  padding: 20rem; }

.card-tour {
  height: 50rem;
  width: 30rem;
  transition: 1s all;
  perspective: 500rem;
  position: relative;
  border-radius: .5rem; }
  .card-tour__side {
    height: 50rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    transition: 1s all ease-out;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden; }
    .card-tour__side_front {
      background: #6B8F83;
      padding: 2rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); }
    .card-tour__side_back {
      background: green;
      transform: rotateY(180deg);
      background: linear-gradient(120deg, rgba(2, 0, 36, 0.5) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(0, 212, 255, 0.8) 100%); }
  .card-tour:hover .card-tour__side_front {
    transform: rotateY(-180deg); }
  .card-tour:hover .card-tour__side_back {
    transform: rotateY(0deg); }
  .card-tour__span {
    font-size: 3rem;
    letter-spacing: .5rem;
    text-align: right;
    padding: 1rem 2rem .3rem; }
  .card-tour__img {
    background-blend-mode: screen;
    height: 20rem;
    background: #6B8F83 url("../img/01.JPG") center/cover no-repeat; }
  .card-tour__descr ul {
    padding: 5rem;
    text-align: center; }
  .card-tour__backSide-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 8rem; }
  .card-tour__text {
    margin-bottom: 8rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: black; }
    .card-tour__text_1 {
      font-size: 2rem;
      font-weight: 300; }
    .card-tour__text_2 {
      font-size: 4rem;
      font-weight: 300; }

.row {
  display: flex;
  justify-content: space-around; }

.header {
  position: relative;
  height: 95vh;
  width: 95vw;
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.5) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(0, 212, 255, 0.8) 100%), url(../img/1.jpg) center/cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%); }
  .header__logo {
    height: 4rem;
    position: absolute;
    left: 30px;
    top: 3rem;
    cursor: pointer; }
  .header__box {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center; }

.title-first {
  color: #ffffff; }
  .title-first__main {
    display: block;
    font-weight: 800;
    font-size: 5rem;
    line-height: 6rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    animation: leftToRight 2s;
    animation-delay: 0.5s;
    animation-timing-function: ease;
    backface-visibility: hidden;
    animation-fill-mode: backwards; }
  .title-first__second {
    display: block;
    font-weight: 200;
    font-size: 5rem;
    line-height: 6rem;
    letter-spacing: 1rem;
    animation: RightToLeft 2s;
    animation-delay: 0.5s;
    animation-timing-function: ease;
    backface-visibility: hidden;
    margin-bottom: 6.5rem;
    animation-fill-mode: backwards; }

.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #754C24;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  background: white;
  border-radius: 5rem;
  transition: all .3s;
  position: relative;
  font-size: 2rem; }

.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5); }
  .btn:hover::after {
    opacity: 0;
    transform: scaleX(1.5);
    transform: scaleY(1.7); }

.btn:active {
  transform: translateY(-2px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); }

.btn::after {
  content: "";
  background: white;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .5s; }

.btn_animated {
  animation: BtnToUp .5s ease-out .7s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  letter-spacing: .2rem;
  font-size: 2rem;
  padding: 1rem;
  display: inline-block;
  color: #754C24; }

.btn-text:hover {
  background-color: #754C24;
  color: #ffffff; }
  .btn-text:hover::after {
    opacity: 0;
    transform: scaleX(1.5);
    transform: scaleY(1.7); }

.btn-text:active {
  transform: translateY(2px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); }
